@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* 禁止横向滚动条 */
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

